<div id="container">
  <h1>Welcome to Dummy Rails project</h1>
  <ul>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% if current_user %>
      <li><%= link_to "Video Watching Report", "#" %></li>
      <hr>
      <li><%= link_to "Sign Out", destroy_user_session_path %></li>
    <% end %>
  </ul>
</div>